<% content_for(:page_title) { 'Categories' } %>
<% content_for(:breadcrumbs)  do %>
  <li><%= link_to 'Categories', categories_path %></li>
  <li><%= link_to @category.name, @category %></li>
  <li class="is-active"><a href="#" aria-current="page">Edit</a></li>
<% end %>

<h1>Editing Category</h1>

<%= render 'form', category: @category %>
