<div id="transaction-filters" class="field is-horizontal">
    <label class="label">Start</label>
    <div class="control">
      <%= date_field_tag(:start_date, filters[:start_date], filter_options(:start_date, filters)) %>
  </div>

    <label class="label">End</label>
    <div class="control">
      <%= date_field_tag(:end_date, filters[:end_date], filter_options(:end_date, filters)) %>
    </div>
</div>
