<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody id="transactions">
    <%= render 'transactions/transactions', transactions: transactions %>
  </body>
</table>
