<p id="notice"><%= notice %></p>
<%= link_to 'Back', root_path %>

<h1>Transactions</h1>

<%= render 'transactions_list', transactions: @transactions %>
<br>
<%= link_to 'Upload new transactions', new_transaction_batch_path %>
