<% content_for(:page_title) { 'Transactions' } %>

<p id="notice"><%= notice %></p>

<%= render 'transactions_list', transactions: @transactions %>
<br>
<%= link_to 'Upload new transactions', new_transaction_batch_path %>
