<% income_categories.reverse.each do |category, value| %>
  <tr>
    <td><%= link_to category.name, transactions_path(category_id: category.id, year: @filters[:year], month: @filters[:month]) %></td>
    <td><%= value.format %></td>
  </tr>
<% end %>
<tr>
  <td><strong>Total</strong></td>
  <td><strong><%= -income_sum.format %></strong></td>
</tr>
