<% content_for(:page_title) { 'Statements' } %>
<% content_for(:breadcrumbs)  do %>
  <li><%= link_to 'Statements', transaction_batches_path %></li>
  <li class="is-active"><a href="#" aria-current="page">New</a></li>
<% end %>

<%= render 'form', transaction_batch: @transaction_batch %>
